.card {
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px 15px 25px 25px;
}

.card > .name {
  color: #d5d5d5;
  font-size: 25px;
  margin: 0;
  font-weight: bold;
}
